<!-- Metrics -->
<div class="container mt-2">
  <div class="card card-block">
    <nav class="navbar navbar-dark bg-inverse mb-1">
      <h1 class="navbar-brand mb-0">Overall Metrics</h1>
    </nav>
    <div class="row">
      <!-- Metric component for CPU -->
      <app-metric class="col-sm-6" [used]="cpu.used" [available]="cpu.available" [title]="'CPU'"
        [description]="'utilization of CPU'">
      </app-metric>
      <!-- Metric component for Memory -->
      <app-metric class="col-sm-6" [used]="mem.used" [available]="mem.available" [title]="'Memory'"
        [description]="'utilization of memory in GB'">
      </app-metric>
    </div>
  </div>
</div>
<!-- Node and Nodes Row  -->
<div class="container mt-2">
  <div class="card card-blok">
    <div class="card-body">
      <nav class="navbar-dark bg-inverse mb-1">
        <h1 class="navbar-brand mb-0">Claster 1</h1>
      </nav>
      <!-- implements the Nodes component using an attribute on the table element -->
      <table app-nodes class="table table-hover">
        <!-- implements the Row component on the table row, iterates over the modes, and binds the node -->
        <tr app-nodes-row *ngFor="let node of cluster1" [node]="node"></tr>
      </table>
      <nav class="navbar-dark bg-inverse mb-1">
        <h1 class="navbar-brand mb-0">Claster 2</h1>
      </nav>
      <table app-nodes class="table table-hover">
        <tr app-nodes-row *ngFor="let node of cluster2" [node]="node"></tr>
      </table>
    </div>
  </div>
</div>
